awscrt==0.34.1
awsiotsdk==1.30.0
azure-iot-device==2.14.0
boto3==1.43.29
botocore==1.43.29
certifi==2026.5.20
charset-normalizer==3.4.7
deprecation==2.1.0
idna==3.18
janus==2.0.0
jmespath==1.1.0
packaging==26.2
paho-mqtt==1.6.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
requests-unixsocket2==1.0.1
s3transfer==0.18.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.7.0
